name: Deploy to Raspberry Pi

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build and Deploy with Docker Compose
        run: |
          cp /home/qemc/Documents/resumeAgentInterface/actions-runner/env/.env ./apps/backend/.env
          docker compose --env-file /home/qemc/Documents/resumeAgentInterface/actions-runner/env/.env down
          docker compose --env-file /home/qemc/Documents/resumeAgentInterface/actions-runner/env/.env up -d --build